name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    uses: stylelint/.github/.github/workflows/call-lint.yml@60889da59f384526b8185d2aa85b35620aa6bcc0 # 0.6.0
    permissions:
      contents: read

  test:
    uses: stylelint/.github/.github/workflows/call-test.yml@60889da59f384526b8185d2aa85b35620aa6bcc0 # 0.6.0
    permissions:
      contents: read
